<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../../stylesheets/product-create/product-create.css">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <title>Panel</title>
</head>
<body>
  <div class="container" >
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Control De productos ImperioGamer!!</h1>
            <img class="mando" src="/imagenes-carga-productos/mando.png" alt="mando">
          </div>
        </div>
      </div>
    </header>

    <h2>Informacion Del Producto</h2>
    <form class="was-validated" enctype="multipart/form-data" method="POST" action="/products/<%=products.id%>?_method=PUT">

      <div class="row">
        <div class="col-4">
          <label for="codigo">Codigo</label>
          <input type="text" value="<%if( products.codigo != ""){ %><%= products.codigo %><% } %>" class="form-control is-invalid " id="codigo" name="codigo"  >
        </div>  

        <div class="col-8">
          <label for="titulo">Titulo</label>
        <input type="text" value="<%if( products.name != ""){ %><%= products.name %><% } %>" class="form-control is-invalid" id="codigo" name="name" required>
        </div>  
      </div>

      <div class="row">
        <div class="col-4">
          <label for="categoria">Categoria</label>
          
            <select class="custom-select" name="category"required>
              <option value="" >Seleccion la Categoria</option>
              <option <%if( products.category == "Juego"){ %> selected <% } %>>Juego</option>
              <option <%if( products.category == "consola"){ %> selected <% } %>>Consola</option>
              <option <%if( products.category == "Consola"){ %> selected <% } %>>Monitores</option>
              <option <%if( products.category == "Sillas"){ %> selected <% } %>>Sillas</option>
              <option <%if( products.category == "Accesorios"){ %> selected <% } %>>Accesorios</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          
        </div>   

        <div class="col-8">
          <label for="validationTextarea">Descripcion</label>
          <textarea class="form-control is-invalid" id="validationTextarea" name="description" required><%= products.description %></textarea>
        </div>

        <div class="col-4">
          <label for="color">Color</label>
          <div class="form-group">
            <select class="custom-select" name="color"required>
              <option value="">Seleccion tu color</option>
              <option <%if( products.color == "Amarillo"){ %> selected <% } %>>Amarillo</option>
              <option <%if( products.color == "Azul"){ %> selected <% } %>>Azul</option>
              <option <%if( products.color == "Blanco"){ %> selected <% } %>>Blanco</option>
              <option <%if( products.color == "Celeste"){ %>selected <% } %>>Celeste</option>
              <option <%if( products.color == "Dorado"){ %>selected <% } %>>Dorado</option>
              <option <%if( products.color == "Fucsia"){ %>selected <% } %>>Fucsia</option>
              <option <%if( products.color == "Gris Claro"){ %>selected <% } %>>Gris Claro</option>
              <option <%if( products.color == "Gris Oscuro"){ %>selected <% } %>>Gris Oscuro</option>
              <option <%if( products.color == "Marron"){ %>selected <% } %>>Marron</option>
              <option <%if( products.color == "Naranja"){ %>selected <% } %>>Naranja</option>
              <option <%if( products.color == "Negro"){ %>selected <% } %>>Negro</option>
              <option <%if( products.color == "Plateado"){ %>selected <% } %>>Plateado</option>
              <option <%if( products.color == "Rojo"){ %>selected <% } %>>Rojo</option>
              <option <%if( products.color == "Verde"){ %>selected <% } %>>Verde</option>
              <option <%if( products.color == "Violeta"){ %>selected <% } %>>Violeta</option>
              <option <%if( products.color == "otro"){ %>selected <% } %>>Otro</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Uno</div>
          </div>
        </div>  

        <div class="col-4">
          <label for="proveedor">Proveedor</label>
          <div class="form-group">
            <select class="custom-select" name="proveedor"required>
              <option value="" >Seleccion el Proveedor</option>
              <option <%if( products.proveedor == "Microfost"){ %>selected <% } %>>Microfost</option>
              <option <%if( products.proveedor == "Nintendo"){ %>selected <% } %>>Nintendo</option>
              <option <%if( products.proveedor == "Sony"){ %>selected <% } %>>Sony</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div> 

        <div class="col-4">
          <label for="Precio">Precio</label>
          <input type="number" value="<%= products.price %>" class="form-control is-invalid " id="Precio" name="price"  required>
        </div> 

          
      </div>

      <div class="row">

        <div class="col-4">
          <label for="garantia">¿Garantia?</label>
          <div class="form-group">
            <select class="custom-select" name="garantia"required>
              <option value="" >Seleccion Si tiene garantia</option>
              <option <%if( products.garantia == "Si"){ %>selected <% } %>>Si</option>
              <option <%if( products.garantia == "No"){ %>selected <% } %>>No</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div>  

        <div class="col-4">
          <label for="Precio">Oferta</label>
          <input type="number" value="<%= products.discount %>" class="form-control is-invalid " id="oferta" name="discount"  required>
        </div> 
      </div>

      <%if(products.image == ""){ %>
      <div class="col-4">
          <label for="image">Nueva Imagen</label>
          <input type="file" name="image">
      </div>   

      <% }else { %>

      <div class="col-4">
          <label for="image">Imagen</label><br>
          <img class="carga" src="/images/productos/<%= products.image %>" alt="<%= products.name %>">
          <input type="file"  name="image" required>
      </div>  

      <% }%>


        <div class="container-bt col-4 ">
            <button class="boton-enviar" type="submit">Guarda producto</button>
        </div>
      
      
    </form>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>