<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <div class="container" id="contenedor">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-8">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="/images/productos/<%= producto.image %> " class="d-block w-100" alt="<%= producto.name %> ">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4" id="producto">
                    <section>
                        <h2><%= producto.name %> </h2>
                        <% let precioFinal = producto.price - (producto.price * producto.discount/100) %> 
                        <% if(producto.discount > 0){ %>
                        <span id="conDescuento">$<%= producto.price %> <%= producto.discount %>% </span>
                        <span id="precio">$ <%= aMiles(precioFinal) %> </span>
                        <% }else { %>
                        <span id="precio">$ <%= aMiles(producto.price) %> </span>
                        <% } %> 
                        <span class="otros">Métodos de pago: Débito y Crédito</span>
                        <span class="otros">Envíos a Cápital Federal: Gratis</span>
                        <span class="otros">Stock disponible: Si</span>
                        <form action="">
                            <div id="cantidad">
                                <label for="stock">Cantidad:</label>
                                <select name="cantidad" id="stock">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <button type="submit" id="comprar">Comprar Ahora</button>
                            <button type="submit" id="carrito">Agregar al Carrito</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12" id="caracteristicas">
                    <h2>Descripción</h2>
                </div>
                <div class="col-12 col-sm-12 col-lg-12" id="caracteristicas">
                    <p><%= producto.description %> </p>
                </div>
            </div>
            <div class="row" id="metodos">
                <div class="col-12">
                    <span id="medios">Medios de pago</span>
                </div>
                <div class="col-12 col-sm-6" id="credito">
                    <span class="tarjetas">Tarjetas de crédito</span>
                    <span class="cuotas">Cuotas sin interes</span>
                    <article id="credito1"></article>
                    <article id="credito2"></article>
                    <article id="credito3"></article>
                </div>
                <div class="col-12 col-sm-6" id="debito">
                    <span class="tarjetas">Tarjetas de débito</span>
                    <article id="debito1"></article>
                    <article id="debito2"></article>
                </div> 
            </div>
        </div>
        <div class="container" id="sugerencias">
            <div class="row">
                <div class="col-12">
                    <span>Quienes vieron este producto también compraron</span>
                </div>    
            </div>
            <div class="row">
                <div class="col-6 col-sm-3 col-lg-2">    
                        <article id="sug1"></article>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">       
                        <article id="sug2"></article>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">        
                        <article id="sug3"></article>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                        <article id="sug4"></article>
                </div>
                <div class="col-6 col-sm-2 col-lg-2">
                    <article id="sug5"></article>
                </div>
                <div class="col-6 col-sm-2 col-lg-2">
                    <article id="sug6"></article>
                </div>     
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %> 

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>