<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head') %>

<body>
  <%-include('./partials/header') %>
  <div class="container" >
  

    <h2 class="titulo">INFORMACION DEL PRODUCTO</h2>
    <form class="createProduct" enctype="multipart/form-data" method="POST" action="/products">

    <div class="errors"></div>
      
      <div class="row input-form">
        
        <div class="col-4">
          <label for="codigo">Sección</label>
          <input type="text" value="<%= products.section %>" class="form-control section " id="codigo" name="section"  >
        </div>  

        <div class="col-8">
          <label for="titulo">Titulo</label>
          <input type="text" value="<%= products.product_name %>" class="form-control titulo" id="titulo" name="titulo" >
        </div>  
      </div>

      <div class="row input-form">
        <div class="col-4">
          <label for="categoria">Categoria</label>
            <select class="custom-select category " name="category">
              <option value="" >Seleccion la Categoria</option>
              <option <%if( products.category_id == 1){ %> selected <% } %> value= "1" >Juegos</option>
              <option <%if( products.category_id == 2){ %> selected <% } %> value= "2">Consolas</option>
              <option <%if( products.category_id == 3){ %> selected <% } %> value= "3">Pc Gamer</option>
              <option <%if( products.category_id == 4){ %> selected <% } %> value= "4">Sillas</option>
              <option <%if( products.category_id == 5){ %> selected <% } %> value= "5">Accesorios</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          
        </div>   

        <div class="col-8">
          <label for="validationTextarea">Descripcion</label>
          <textarea class="form-control description id="validationTextarea" placeholder="Ingresa Aqui la Descripcion" name="description" > <%= products.prod_description %></textarea>
        </div>


        <div class="col-4">
          <label for="plataforma">Plataforma</label>
          <div class="form-group">
            <select class="custom-select plataforma" name="plataforma">
              <option <%if( products.platform_id == 1){ %>selected <% } %>>PlayStation</option>
              <option <%if( products.platform_id == 2){ %>selected <% } %>>X-Box</option>
              <option <%if( products.platform_id == 3){ %>selected <% } %>>PC</option>
            </select>
            
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div> 

        <div class="col-4">
          <label for="plataforma">Idioma</label>
          <div class="form-group">
            <select class="custom-select idioma" name="idioma">
              <option value="">Seleccion la Plataforma</option>
              <option <%if( products.platform_id == 1){ %>selected <% } %>>Español</option>
              <option <%if( products.platform_id == 2){ %>selected <% } %>>Ingles</option>
              <option <%if( products.platform_id == 3){ %>selected <% } %>>Chino</option>
            </select>
            <div class="invalid-feedback">Por favor Selecciona Una Opcion</div>
          </div>
        </div> 

        <div class="col-4">
          <label for="Precio">Precio</label>
          <input type="number" value="<%= products.price %>" class="form-control price" id="Precio" name="price"  >
        </div> 

          
      </div>

      <div class="row input-form">
        <div class="col-4">
          <label for="Precio">Descuento</label>
          <input type="number" value="<%= products.discount %>" class="form-control discount" id="oferta" name="discount"  >
        </div> 

        <%if(products.image == ""){ %>
          <div class="col-4">
              <label for="image">Nueva Imagen</label>
              <input type="file" name="image">
          </div>   
    
          <% }else { %>
    
          <div class="col-4">
              <label for="image">Imagen</label><br>
              <img class="carga" src="/images/productos/<%= products.image %>" alt="<%= products.producto_name %>">
              <input type="file" name="image">
          </div>  
    
          <% }%>

      </div>    
      <div class=" row container-bt col-4">
        <button class="bt-enviar"  type="submit">Guardar producto</button>
       </div>
      
      
    </form>
  </div> 
    <%-include('./partials/scripts') %>
</body>
</html>