<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>

    <%-include('./partials/header') %>
    
    <div class="container container-edit">
        <div class="row">
            <section class="menu-var col-4 izquierda">
                <article class="menu-edit" >
                    <div class="avatar">
                    <img src="/users/avatars/<%= usuario.avatar%>" alt="Avatar Usuario">
                    <p class="nameuser"><%= usuario.first_name %></p>
                    </div>
                    <div class="menu-editar">
                    <ul>
                        <li><a href="/user/profile">Mi Perfil</a></li>
                        <li><a href="/carrito">Mis Compras</a></li>
                        <form action="/user/profile/deslog/<%= usuario.id%>" method="POST">
                        <button><li>Salir</li></button>
                        </form>
                    </ul>
                    </div>
                </article>
            </section>
            <br>
            <div class="col-8 derecha">
                <div class="mensaje-DTS">
                    <p>Mis Datos</p>

                    <% if (typeof errors != "undefined") { %>
                        <ul>
                       <% for(var i= 0; i < errors.length; i++) { %>
                         <li><%= errors[i].msg %></li>
                        <% } %>
                        </ul>
                    <% } %> 
                    
                </div>

                
                <form action="/user/profile/edit/<%= usuario.id %>" method="POST" >
                    <div class="row">
                        <div class="col-12">
                            <label for="email">Correo</label>
                            <input style="cursor: not-allowed;" value="<%if( usuario.email != ""){ %><%= usuario.email %><% } %>" disabled="disabled"  type="email" class="form-control" id="email" name="email" required>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="contraseñia">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="correo" name="password" >
                        </div>    
                        <div class="col-6">
                            <label for="contraseñia">Repetir Contraseña</label>
                            <input type="password" class="form-control" id="correo" name="password2">
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" value="<%if( usuario.first_name != ""){ %><%= usuario.first_name %><% } %>" class="form-control" id="name" name="first_name" required>
                        </div>    
                        <div class="col-6">
                            <label for="contraseñia">Apellido</label>
                            <input type="text" value="<%if( usuario.last_name != ""){ %><%= usuario.last_name %><% } %>" class="form-control" id="apellido" name="last_name" required>
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="dni">DNI</label>
                            <input type="text" value="<%if( usuario.dni != ""){ %><%= usuario.dni %><% } %>" class="form-control" id="dni" name="dni" required>
                        </div>    
                        <div class="col-6">
                            <label for="telefono">Telefono</label>
                            <input type="text" value="<%if( usuario.tel != ""){ %><%= usuario.tel %><% } %>" class="form-control" id="telefono" name="tel" required>
                        </div>      
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="direccion">Direccion</label> <span>*</span>
                            <input type="tel" value="<%if( usuario.direccion != ""){ %><%= usuario.direccion %><% } %>" class="form-control" id="direccion" name="direccion" required>
                        </div>   
                    </div>
                    <br>
                    <div class="container-bt">
                    <button type="sumbit" class="btn btn-success btn-edituser">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%-include('./partials/footer') %>
</body>
</html>