<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/search.css">

<body>

    <%-include('./partials/header') %>

    <div class="row">
      <% if (products.length > 0){ %>
        <%products.forEach(function(products){%>
          <div class="col-3">
            <a class="productUser" href="/user/detail/<%= products.id %> ">
                <div class="card" style="width: 18rem;">
                    <h5 class="card-title"><%= products.product_name %> </h5>
                    <img width="300" height="200" src="/images/productos/<%= products.image %>" class="card-img-top" alt="<%= products.name %> ">
                    <div class="card-body">
                        <% if(products.discount > 0){ %>
                             <span>$<%= aMiles(Math.round(products.price)) %> </span>
                             <span><%= products.discount %>% </span>
                       <% } else { %>
                            <span>$<%= aMiles(Math.round(products.price)) %> </span>
                        <% } %> 
                        <% let descript = products.prod_description %>
                        <% descript.split() %>
                        <% let descript2 = "" %>
                        <% for(var i = 0; i < 80; i++){ 
                          descript2 += descript[i]
                        } %>  
                     
                      <p class="card-text"><%= descript2 %>...</p>
                    </div>
                </div>
            </a>
          </div>
        <% });%> 
      <% } else {%>
        <h2 id="no-encontrado" class="offset-2 col-10">No pudimos encontrar tu producto</h2>
      <% } %>  
    </div>
    <%-include('./partials/footer') %>
    <%-include('./partials/scripts') %>
</body>
</html>

